---
import Layout from '../layouts/Layout.astro';
import DbConnectionExample from '../components/DbConnectionExample.svelte';
---

<Layout title="SÄkumalapa">

	<main>
		<h1></h1>
		
		<br>
		<br>
		<br>

		<h2></h2>
		<DbConnectionExample client:load />
		<p>Pieejams: <code>/src/components/DbConnectionExample.svelte</code></p>

	</main>
</Layout>