---
import Layout from '../layouts/Layout.astro';
import DbConnectionExample from '../components/DbConnectionExample.svelte';
import User from '../components/User.svelte';
---

<Layout title="Sākumalapa">
	<main>
		<h1>Projekts daudzspēlētāju desas</h1>

		<br>
		<br>
		<br>

		<h2>Piemērs savienošanai ar datu bāzi:</h2>
		<DbConnectionExample client:load />
		<p>Pieejams: <code>/src/components/DbConnectionExample.svelte</code></p>
		
		<User client:only></User>
	</main>
</Layout>