---
import Layout from '../layouts/Layout.astro';
import DbConnectionExample from '../components/DbConnectionExample.svelte';
import User from '../components/User.svelte';
import GameField from '../components/GameField.svelte';
import NewGame from '../components/newGame.svelte';
---

<Layout title="SÄkumalapa">

	<main>
		<div class="field">
			<NewGame />
		</div>
	</main>
</Layout>