---
import Layout from '../layouts/Layout.astro';
import DbConnectionExample from '../components/DbConnectionExample.svelte';
import LoginPrompt from '../components/LoginPrompt.svelte';
import User from '../components/User.svelte';
import GameField from '../components/GameField.svelte';
import NewGame from '../components/newGame.svelte';
import registerPrompt 'from '../components/registerPrompt.svelte';
---

<Layout title="SÄkumalapa">

	<main>
		<h1></h1>
		
		<br>
		<br>
		<br>

		<h2></h2>
		<DbConnectionExample client:load />
		<p>Pieejams: <code>/src/components/DbConnectionExample.svelte</code></p>






<LoginPrompt></LoginPrompt>
		<div class="field">
			<NewGame />
		</div>
	</main>
</Layout>