---
import NavLoginField from "../components/NavLoginField.svelte"
export interface Props { 
	title: string;
}

const { title } = Astro.props;
---

<!-- HTML mainīt šeit, ieliec <slot/> tur kur vajag būt pašam lapas saturam --><!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
	</head>
	<body>
		<nav class="nav">
		<ul>
			<li><i class="bi bi-grid-3x3"></i>Desas</li>
			<li><a href="/">Sākums</a></li>
			<span></span>
			<NavLoginField client:load/>
		</ul>
	</nav>
		<slot />
	</body>


	<!-- CSS priekš layout daļas var likt šeit -->
	<style>
		* {
			margin: 0;
			padding: 0;
			box-sizing: border-box;
		}

		:global(button) {
			cursor: pointer;
		}

		body {
			font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
			background-image: url("/Desktop - 4.png");
			background-repeat: no-repeat;
			background-size: cover;
			min-height: 100vh;
		}

		.nav {
			
			padding: 0.5rem
		}

		.nav ul {
			justify-content: space-between;
			padding: 20px;
			background-color: #ffffff99;
			color: black;
			border-radius: 25px;
			display: grid;
			align-items: center;
			grid-template-columns: repeat(2, max-content) 1fr repeat(3, max-content);
			gap: 0.5rem
		}

		nav ul :global(li) {
			display: block;
			font-size: 2rem;
		}
		nav ul :global(li) :global(a) {
			font-size: 15px;
			color: black;
			text-decoration: none;
			background-color: #fff;
			display: block;
			padding: 0.5rem 1rem;
			border-radius: 0.7rem;
		}
	</style>
</html>
