---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!-- HTML mainīt šeit, ieliec <slot/> tur kur vajag būt pašam lapas saturam --><!DOCTYPE html>
<html lang="en">
	<nav class="nav">
		<ul>
			<li>Daudzspēlētāju Desas</li>
			<li><a href="/">Sākums</a></li>
			<li><a href="/"> Mums</a></li>
			<li><a href="">Spēle</a></li>
			<li><a href="/">Ienākt</a></li>
			<li><a href="/">Reģistrēties</a></li>
		</ul>
	</nav>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>


	<!-- CSS priekš layout daļas var likt šeit -->
	<style>
		* {
			margin: 0;
			padding: 0;
			box-sizing: border-box;
		}

		body {
			font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
			background-image: url(src/components/Desktop - 4.png);
			background-repeat: no-repeat;
			background-size: cover;
		}

		.nav {
			display: grid;
			align-items: center;
			justify-content: space-between;
			padding: 20px;
			background-color: #ffffff99;
			color: black;
			border-radius: 25px;
		}

		.button {
		}

		nav ul li {
			display: inline;
			font-size: 30px;
		}
		nav ul li a {
			font-size: 15px;
			color: black;
			text-decoration: none;
		}
	</style>
</html>
